html,
body {
    margin: 0;
    height: 100%;
}
body {
    display: flex; 
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 0;
    padding: 1rem;
}
.button-wrapper {
    display: flex;
    margin-left: auto;
    border: 2px solid black;
    height: 37px;
    width: 37px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    padding: 0;
}

.button-wrapper:hover {
    background-color: darkgreen;
}

.button-wrapper:active {
    background-color: rgb(0, 68, 0);
}

.add-btn {
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5px;
}

.header-text {
    font-size: 2rem;
    position: absolute;
}



main {
    display: flex;
    height: 20rem;
    flex: 1 1 auto;

}

.main-column {
    display: flex;
    background-image: url("../imgs/woodimg3.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    flex: 1 1 auto;
    border: 4px solid black;
}
footer {
    margin-top: auto;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}