html,
body {
    margin: 0;
    height: 100%;
}
body {
    display: flex; 
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 0;
    padding: 1rem;
}
.button-wrapper {
    display: flex;
    margin-left: auto;
    border: 2px solid black;
    height: 37px;
    width: 37px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    padding: 0;
}

.button-wrapper:hover {
    background-color: darkgreen;
}

.button-wrapper:active {
    background-color: rgb(0, 68, 0);
}

.add-btn {
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5px;
}

.header-text {
    font-size: 2rem;
    position: absolute;
}



main {
    display: flex;
    height: auto;
    flex: 1 1 auto;

}

.main-column {
    display: flex;
    background-image: url("../imgs/woodimg3.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    flex: 1;
    border: 4px solid black;
    align-items: center;
    flex-direction: column;
}
footer {
    margin-top: auto;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.read-status {
    width: 5rem;
}

.delete-btn {
    width: 5rem;
}

.book {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;

    flex-direction: column;
    background-color: rgb(247, 243, 199);
    padding: 1rem;
    height: 15rem;
    width: 13rem;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin-top: 1rem;
    border: 2px solid white;
    border-radius: 2rem;


}

/* the modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    background-color: papayawhip;
    border: 2px solid black;
    border-radius: 1rem;
    width: 20rem;
    height: 15rem;
    justify-content: center;
    margin-bottom: 20rem;


}
input#has-read {
    width: 6rem;
}
button#submitBtn{
    width: 6rem;
}
.bookForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    margin-bottom: 3rem;
}
.modalTextInput {
    display: flex;
    flex: 1 1 auto;

}

.modalTextWrapper {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    flex: 1 1 auto;


}
input#title {
    display: flex;
    flex: 1 1 auto;
}
input#author {
    display: flex;
    flex: 1 1 auto;
}
input#pages {
    display: flex;
    flex: 1 1 auto;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}